body {font-family: Lora, Arial; margin:0%}
a {text-decoration: none; }
b {font-family: Helvetica, Arial}
aside {padding: 24px; text-align: center}
header {background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
        padding: 16px; text-align: center}
header a {color: white}
header a:hover { background-color: #7db9e8}
header h1 {font-size: 48px}
header h3 {font-family: serif; font-size: 24px}
.current {color: white; border-bottom: 2px solid white}
footer {background-color: #CCC; padding: 16px; text-align: center}